NEXT_PUBLIC_SUPABASE_URL=ubzorbovygmbnaylhsay
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InViem9yYm92eWdtYm5heWxoc2F5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg5NTE2MjIsImV4cCI6MjEwNDUyNzYyMn0.DaF1-zZZu7495kvvikHvZcRgKQ6VUE4OOXc7TZ3bcDY 
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InViem9yYm92eWdtYm5heWxoc2F5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg5NTE2MjIsImV4cCI6MjEwNDUyNzYyMn0.DaF1-zZZu7495kvvikHvZcRgKQ6VUE4OOXc7TZ3bcDY    
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_PUBLIC_URL=
    
